* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: url(./img/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  overflow: hidden;
}
.heading {
  /* margin: 8px 0 0 55px; */
  font-size: 2.5rem;

  font-size: 2.7rem;
}
ul {
  display: flex;
  margin-left: 25px;
  padding-left: 25px;
  font-size: 1.6rem;
  list-style-type: none;
  gap: 60px;
}
ul li {
  color: white;
}
ul li:hover {
  color: #ff7200;
}
.container-top-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.input-section {
  border: 1px solid orange;
  border-radius: 5px;
  height: 36px;
}
.input-section input {
  height: 100%;

  padding: 8px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}
.input-section button {
  height: 100%;
  width: 85px;
  background-color: #ff7200;

  margin: 0;
  color: white;
  border: none;
}
.card-container {
  height: 500px;
  width: 350px;
  background-color: #000000b3;
  position: absolute;
  bottom: 200px;
  right: 90px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.login-here {
  height: 40px;
  width: 70%;
  margin-left: 3.4rem;
  margin-top: 1rem;
  border-radius: 0.4rem;
  background-color: rgb(255, 255, 255);
}
.login-here p {
  color: #ff7200;
  text-align: center;
  display: block;
  padding: 7px;

  font-size: 1.5rem;
  font-weight: 600;
}
.card-container input[type="text"] {
  background-color: transparent;
  width: 70%;
  margin-left: 3.4rem;
  margin-top: 1rem;
  border: none;
  border-bottom: 1px solid #ff7200;
  outline: none;
  padding-bottom: 8px;
  color: white;
  font-size: 1rem;
}
.card-container input[type="password"] {
  background-color: transparent;
  width: 70%;
  margin-left: 3.4rem;
  margin-top: 1rem;
  border: none;
  border-bottom: 1px solid #ff7200;
  outline: none;
  padding-bottom: 8px;
  color: white;
  font-size: 1rem;
}
.card-container button {
  height: 50px;
  width: 70%;
  margin-left: 3.4rem;
  margin-top: 1rem;
  border-radius: 0.4rem;
  background-color: #ff7200;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding: 0.2rem 1rem;
  border: none;
}
.card-h2 {
  text-align: center;
  margin-top: -25px;
  color: white;
  font-size: 1.2rem;
}
.card-h3 {
  text-align: center;
  margin-top: -45px;
  color: white;
  font-size: 1.2rem;
}
.card-para {
  text-align: center;
  margin-top: -25px;
  color: white;
  font-size: 0.9rem;
  text-decoration: underline;
}
img {
  position: relative;
  top: 20px;
  left: -289px;
}
